

<nav>
    <div id="nav-container">
        <div id="nav-logo">
            <a href="/"><h3><span class="red arrow">></span>Code<span class="red">@IU</span></h3></a>
        </div>
        <div id="nav-list">
            <a class="nav-item" href="/about">About</a>  
            <a class="nav-item" href="/programs">Programs</a>
            <a class="nav-item" target="blank" href="https://www.youtube.com/channel/UCvH91iSGPIOrfWjOmZvi8xg">Videos</a>  
    </div>
    </div>
</nav>