
<p>Code@IU is a club at Indiana University
dedicated to teaching fellow students
to learn to code. 
Programmers of all skill levels, can come 
to this club to learn any new skills that
they choose. Meetings are on Thursday's at
7:00 in room 3055 in Hodge Hall.

</p>